.meaning {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.meaning__block {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.meaning__block__speech {
  color: var(--title);
  font-size: 24px;
  font-style: italic;
  position: relative;
}

.meaning__block__title {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
}
